circle {
  -webkit-animation: clockwise 0.1s infinite linear;
  -moz-animation: clockwise 0.1s infinite linear;
  animation: clockwise 0.1s infinite linear;
  transform-origin: 50% 50%;
}

@-webkit-keyframes clockwise {
  0% { 
    transform: rotate(0deg); 
  }
  100% { 
    transform: rotate(360deg);
  }
}

