body {
  font-family: 'Orbitron', sans-serif;
}
.board {
  margin: auto auto;
  height: 800px;
  width: 800px;
  background: url('../img/bg.jpg') no-repeat;
  background-size: 2300px;
  background-position: 50% 50%;
  box-shadow: 0px 0px 50px 10px #888888;
}
.scoreboard {
  width: 300px;
  text-align: center;
  margin: 30px auto;
}
.high-score, .current-score, .collisions-score {
  /*display: inline;*/
  float: right;
}
.baloons {
  -webkit-animation: clockwise 0.6s infinite linear;
  -moz-animation: clockwise 0.6s infinite linear;
  animation: clockwise 0.6s infinite linear;
  transform-origin: 50% 50%;
}

@-webkit-keyframes clockwise {
  0% { 
    transform: rotate(0deg); 
  }
  100% { 
    transform: rotate(360deg);
  }
}

