.board {
  height: 800px;
  width: 800px;
  background: url('../img/bg.jpg') no-repeat;
}
.baloons {
  -webkit-animation: clockwise 0.6s infinite linear;
  -moz-animation: clockwise 0.6s infinite linear;
  animation: clockwise 0.6s infinite linear;
  transform-origin: 50% 50%;
}

@-webkit-keyframes clockwise {
  0% { 
    transform: rotate(0deg); 
  }
  100% { 
    transform: rotate(360deg);
  }
}

